.record-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 15px 120px 15px;
}
.record-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}
.record-nav-item{
    color: grey;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
}
.record-nav-item-active{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}
.record-item-tab{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.record-item-tab-field{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.record-item-tab-field-up{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.record-item-image{
    width: 70px;
    height: 70px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}
.record-item-description{
    font-size: 16px;
    font-weight: bold;
}
.record-item-tab-field-down{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-between;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}
.tiny-text{
    font-size: 12px;
}
.small-text{
    font-size: 14px;
    font-weight: bold;
}
.submit-btn{
    padding: 5px 20px;
    width: 100%;
    border: 0px;
    outline: none;
    cursor: pointer;
    color: white;
    background-color:green;
    border-radius:20px;
    font-weight: bold;
}
.pending-pill-outline{
    padding: 2px 20px;
    border: 2px solid grey;
    outline: none;
    cursor: pointer;
    color: black;
    background-color:transparent;
    border-radius:20px;
    font-size: 13px;
}
.completed-pill-outline{
    padding: 2px 20px;
    border: 2px solid green;
    outline: none;
    color: green;
    background-color:transparent;
    border-radius:20px;
    font-size: 13px;
}
.record-item-tab-title{
    display:flex;
    flex-direction:row;
    font-size:14px;
    align-items:center;
    justify-content:space-between;
}
.page-body {
    color: black;
    background-image: url(../img/BG-36.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; /* Sets the height to 100% of the viewport height */
}